body {
    background: #eee;
    font-size: 75%;
    font-family: 'Open Sans',sans-serif;
    margin: 0;
}

#searchBar {
    padding: 1rem;
}

    #searchBar input {
        padding: 1rem 2rem;
    }

        #searchBar input[type="url"] {
            border: 2px solid #ddd;
            border-radius: .15rem;
            width: 500px;
            padding-left: 1rem;
            font-size: 1rem;
        }

        #searchBar input[type="submit"] {
            margin-top: 0;
            border: 0;
            border-bottom: .2rem solid #005661;
            border-radius: .25rem;
            background: #00838e;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            outline: none !important;
        }

            #searchBar input[type="submit"]:hover,
            #searchBar input[type="submit"]:focus {
                text-decoration: underline
            }

            #searchBar input[type="submit"]:active {
                margin-top: .2rem;
                border-bottom: 0;
            }

.overlay {
    background: rgba(0,0,0,.5);
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}

#error {
    display: none;
}

.overlay p {
    color: white;
    padding: 1rem;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    text-align: center;
    font-size: 1rem;
    position: relative;
    width: 100%;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
}

#loading p {
    background: #00a1ff;
    border-bottom: .25rem solid #0190c7;
}

#error p {
    background: #f10000;
    border-bottom: .25rem solid #a20000;
}

.page {
    float: left;
    width: 400px;
    height: 480px;
    margin: .5rem;
}

.page h3 {
    margin-top: 0;
    text-decoration: underline;
    white-space: nowrap;
    text-align: center;
}

.popup {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 1rem;
    box-sizing: content-box;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    margin: .5rem;
}

#assessmentCitations {
    width: 200px;
}

#grade {
    text-align: center;
    font-size: 80pt;
    margin: 0;
}

.bar {
    width: 100%;
    height: 1rem;
    background: #fcfcfc;
    border: 1px solid #ccc;
    position: relative;
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
}

    .bar .fill {
        display: block;
        position: relative;
        width: 0;
        height: 100%;
        background: rgb(22,181,151);
        z-index: 1;
        transition: width 1s ease-out;
    }

    .bar .tip {
        padding: 2px 4px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%,-50%);
        z-index: 2;
        background: #333;
        transition: left 1s ease-out;
    }


.circle svg {
}

    .circle svg circle {
        cx: 63;
        cy: 63;
        r: 57;
        fill: none;
    }

        .circle svg circle:nth-of-type(1) {
            stroke: #e6e6e6;
            stroke-width: 9;
        }

        .circle svg circle:nth-of-type(2) {
            stroke: #f77a52;
            stroke-width: 12;
            stroke-dasharray: 360;
            stroke-dashoffset: 360;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
            transition: stroke-dashoffset 1s ease-out;
        }

    .circle svg text {
        font-family: "Open Sans";
        font-size: 20pt;
        text-anchor: middle;
        dominant-baseline: central;
    }

#grammar svg circle {
    cx: 65;
    cy: 65;
    r: 57;
    fill: none;
    stroke-width: 16;
    stroke-dasharray: 360;
    transform-origin: 50% 50%;
    cursor:pointer;
    outline:none;
}

    #grammar svg circle:nth-of-type(1) {stroke: #2ecc71;}
    #grammar svg circle:nth-of-type(2) {stroke: #3498db;}
    #grammar svg circle:nth-of-type(3) {stroke: #9b59b6;}
    #grammar svg circle:nth-of-type(4) {stroke: #e74c3c;}
    #grammar svg circle:nth-of-type(5) {stroke: #e67e22;}
    #grammar svg circle:nth-of-type(6) {stroke: #34495e;}
    #grammar svg circle:nth-of-type(7) {stroke: #8e44ad;}
    #grammar svg circle:nth-of-type(8) {stroke: #27ae60;}

#grammar svg text {
    font-family: "Open Sans";
    text-anchor: middle;
    dominant-baseline: central;
    display:none;
    background:white;
}
#grammar svg circle:focus {
stroke-width:6;
}
#grammar svg circle:focus + text {
    display: block;
}

#betteridge::after {
    content:"Betteridge illegal";
    color:red;
}
#betteridge.legal::after {
    content: "Betteridge legal";
    color: green;
}