body {
    background: #eee;
    font-size: 75%;
    font-family: 'Open Sans',sans-serif;
    margin: 0;
}

#searchBar {
    padding: 1rem;
}

    #searchBar input {
        padding: 1rem 2rem;
    }

        #searchBar input[type="url"] {
            border: 2px solid #ddd;
            border-radius: .15rem;
            width: 500px;
            padding-left: 1rem;
            font-size: 1rem;
        }

        #searchBar input[type="submit"] {
            margin-top: 0;
            border: 0;
            background: #00838e;
            border-bottom: .2rem solid #005661;
            border-radius: .25rem;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            outline: none;
        }
            #searchBar input[type="submit"]:disabled {
                background: #8c8c8c;
                margin-top: .2rem;
                border-bottom: 0;
                cursor: default;
            }
            #searchBar input[type="submit"]:not(:disabled):hover {
                text-decoration: underline
            }

            #searchBar input[type="submit"]:not(:disabled):active {
                margin-top: .2rem;
                border-bottom: 0;
            }

.page {
    float: left;
    width: 400px;
    height: 480px;
    margin: .5rem;
}

.page h3 {
    margin-top: 0;
    text-decoration: underline;
    white-space: nowrap;
    text-align: center;
}

.popup {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 1rem;
    box-sizing: border-box;
    max-height: 100%;
}

#main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: .5rem;
    margin: .5rem;
}

#assessmentCitations {
    width: 200px;
}

#grade {
    text-align: center;
    font-size: 9rem;
    line-height: 8rem;
    margin: 0;
}

#percentage {
    text-align: center;
    margin: 0;
}

#ourAssessment {
    overflow-y: auto;
    overflow-x:hidden;
}

#grammar {
    margin: auto;
    text-align: center;
}
    #grammar svg {
        width:85%;
    }

   
#betteridge::after {
    content: "Betteridge illegal";
    color: red;
}
#betteridge.legal::after {
    content: "Betteridge legal";
    color: #049b0e;
}

#assessmentPeople svg circle:nth-of-type(1) {
    stroke: #f10000;
}

#assessmentPeople svg circle:nth-of-type(2) {
    stroke: #049b0e;
}