body{
	background:#eee;
}
.popup{
	background:#fff;
	border-radius: 5px;
	border:1px solid #ddd;
	padding:1rem;
	box-sizing: content-box;
}
h3{
	margin:0;
	text-decoration:underline;
	white-space:nowrap;
	text-align:center;
}
h1{
	text-align: center;
    font-size: 76pt;
    margin: 0;
	position: relative;
    top: 10%;
}
#circles{
	margin-left:0%;
	display:grid;
    grid-template-columns: 220px 220px;
    box-sizing: border-box;
}
.circle{margin:.5rem;}
.page{
	margin-left:-100%;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	box-sizing: border-box;
	width:calc(100% - 1rem);
}
.page a{
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}
#majestic div{
	margin:auto;
	display:flex;
}
#majestic div div{
	display:inline-block;
	width:150px;
}
.percent{width:0;}